<app-header></app-header>

<main>
<app-carrusel></app-carrusel>

<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-8 mx-auto">
      <app-cuadros></app-cuadros>
    </div>
  </div>
</section>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <app-tabla></app-tabla>
    </div>
  </div>
</main>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Photos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/table" routerLinkActive="active">Tabla</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
<app-footer></app-footer>
